<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title|default('Content Manager') }}</title>
  <!-- Include the styles for the Netlify CMS UI, after your own styles -->
  <link rel="stylesheet" href="https://unpkg.com/netlify-cms@{{ site.netlify.cms.version|default('latest') }}/dist/cms.css" />
</head>
<body>
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="https://unpkg.com/netlify-cms@{{ site.netlify.cms.version|default('latest') }}/dist/netlify-cms.js"></script>
  <!-- Use Netlify Identity -->
  <script src="https://identity-js.netlify.com/{{ site.netlify.identity.version|default('v1') }}/netlify-identity-widget.js"></script>
  <!-- Custom preview -->
  <script>
    CMS.registerPreviewStyle("/css/styles.css");
  </script>
  <script>
    var URLPreview = createClass({
      render: function() {
        var entry = this.props.entry;
        return h('div', {},
          h('span', {}, entry.getIn(['data', 'title'])),
          h('span', {}, entry.getIn(['data', 'slug']))
        );
      }
    });
    //CMS.registerPreviewTemplate("r", URLPreview);
  </script>
</body>
</html>
